@import "bootstrap/bootstrap";

@font-face {
  font-family: "Traveling Typewriter";
  src: url("/static/TravelingTypewriter.ttf");
}


body {
  padding: 40px 0;
  font-family: "Traveling Typewriter", serif;
}
.index-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.index-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index-opolisLogo {
  height: 130px;
  margin-bottom: 40px;
}
.index-opolisPicture {
  height: 400px;
  margin-bottom: 60px;
}
.index-descriptionContainer {
  max-width: 300px;
  margin-bottom: 40px;
}
.index-buyNowContainer {
  margin-top: 10px;
}
.index-buyTagline {
  font-size: large;
  font-weight: bold;
}
