{% extends "base.html" %}

{% block content %}
    <div class="index-container">
        <div class="index-row">
            <img src="static/opolis-bh.jpg" class="index-opolisPicture" />
        </div>

        <div class="index-row">
            <div class="index-descriptionContainer">
                <p>
                    My roommate didn't understand why he was Opolis.
                    I explained  the progression. Gordon to Gordopolis, then just Opolis.
                    He retorted, you could just do that to anyone. And that's when it hit me.
                </p>
                <p>
                    We are all Opolis.
                </p>
                <p>
                    You are Opolis. I am Opolis.
                    Your future soulmate is Opolis. But so is your ex.
                    And so is that homeless guy screaming outside.
                </p>
                <p>
                    Opolis means being connected to the rest of your world.
                </p>
            </div>
        </div>

        <div class="index-row">
            <img src="static/opolis-logo.png" class="index-opolisLogo" />
        </div>

        <div class="index-row">
            <div class="index-buyTagline">
                Now selling t-shirts. $30.
            </div>
        </div>
        <div class="index-row">
            <div class="index-buyNowContainer">
                <div class="index-buyNow btn btn-success" id="order-button">
                    Get yours
                </div>
            </div>
        </div>
    </div>
{% endblock %}
