{% extends "base.html" %}

{% block content %}
    <div class="index-container">
        <div class="index-row">
            <img src="static/opolis-logo.png" class="index-opolisLogo" />
        </div>
        <div class="index-row">
            <img src="static/victor-in-opolis.jpg" class="index-opolisPicture" />
        </div>
        <div class="index-row">
            <div class="index-descriptionContainer">
                Want typewriter like print
            </div>
        </div>
        <div class="index-row">
            <div class="index-buyNowContainer">
                <div class="index-buyNow btn btn-success">
                    Get one
                </div>
            </div>
        </div>
    </div>
{% endblock %}
